<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="www.thymeleaf.org">

    <title> My recipe</title>
</head>
<body>
<div class=container"></div>
<h1 class ="yellowtext">Injera's recipe</h1>
<img src="image/Ethiopian_flag_1897-1914.png" alt="Ethiopian flag"/><br />
<img src="injera/index.jpeg" alt="Image's for injera"/>
<h2>Ingredients</h2>
<ul>
    <li>¾ cup teff flour (found in health food shops)</li>
    <li>3½ cups water</li>
    <li>pinch of salt</li>
</ul>

<p>  <mark>Standing time 2 days</mark></p>
<p><mark>Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble</mark></p>
<p><mark>The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.</mark></p>
<p><mark>Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.</mark></p>
<p><mark>Do not let it brown, and make sure that it is not too thick.</mark></p>
</body>
</html>