<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="./css/stylesheet.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title> My recipe</title>
</head>
<body>
<ul>
<li><a href="#home">HOME</a></li>
<li><a href="#recipeList">Recipe List</a></li></ul>
<div class=container"></div>
<h1 class ="yellowtext">Injera's recipe</h1>
<img src="image/Ethiopian_flag_1897-1914.png" alt="Ethiopian flag"/><br />
<img src="injera/index.jpeg" alt="Image's for injera"/>
<h2>Ingredients</h2>
<ul>
    <li>¾ cup teff flour (found in health food shops)</li>
    <li>3½ cups water</li>
    <li>pinch of salt</li>
</ul>

<p>  <mark>Standing time 2 days</mark></p>
<p><mark>Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble</mark></p>
<p><mark>The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.</mark></p>
<p><mark>Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.</mark></p>
<p><mark>Do not let it brown, and make sure that it is not too thick.</mark></p>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>