h1{
    font-weight:bold;
    font-size:150px;
    background-color:blue;

}


img{

    width: 100px;
    height:auto;

}


.greentext{
    color: #2a8060;

}

#exampleInputEmail1{
    color:brown;
}
body{
    font-family: 'Pacifico', cursive;
}


body
{
    background-color:purple;

}
